<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure impedit perspiciatis, sequi sed quidem, enim in reprehenderit
        mollitia praesentium assumenda distinctio nam, recusandae! Modi laudantium odio, illo incidunt, ipsa exercitationem!</p>

    {{> footer}}
</body>

</html>